In [1]:
# Hello budding Data Scientists.
# We have with us a bank data set which gives information about the revenue of various customers spread across
# different regions in USA.

# Using the knowledge of Pandas and Matplotlib, we will try to answer certain questions from the bank dataset

# We will also then scrape certain additional data from Wikipedia, clean it and combine it with our bank data
# for better understandability of the data.

In [2]:
# Load Data and Compute total
# The first step - you know the drill by now - load the dataset and see how it looks like.
# Additionally, calculate the total amount in the first quarter of the financial year.
# Calculate the total amount of all the users for the month of jan, feb and Mar and also grand total.

# Instructions
# Load dataset using pandas read_csv api in variable df and give file path as path.
# Convert the names of the states in state columns to lowercase and store it back in the same column
# Create a new column named total which computes the total amount in the first quarter of the financial year 

# i.e. for the months of Jan, Feb and Mar and store it in df['total']
# Calculate the sum of amount of all users in the Month of Jan, Feb, March and store it in variable sum_row
# (Here the sum implies the sum of all the entries in the Jan Column, sum of entries in Feb Column and Grand total stands
#  for the sum of entries in the column total)

In [4]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# load the dataset
df = pd.read_csv("Reconcile a report using Pandas2.csv")

# convert state column in lower case
df['state'] = df['state'].apply(lambda x: x.lower())

# Calculate the total
df["total"] = df["Jan"] + df["Feb"] + df["Mar"]

# sum of amount
sum_row = df[["Jan", "Feb", "Mar", "total"]].sum()

# append the row
df_final = df.append(sum_row, ignore_index=True)

In [5]:
df

,account,name,street,city,state,postal-code,Jan,Feb,Mar,total
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,texas,28752,10000,62000,35000,107000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,northcarolina,38365,95000,45000,35000,175000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,iowa,76517,91000,120000,35000,246000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,maine,46021,45000,120000,10000,175000
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,california,49681,162000,120000,35000,317000
5,132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,arkansas,62785,150000,120000,35000,305000
6,145068,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,mississipi,18008,62000,120000,70000,252000
7,205217,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,rhodeisland,53461,145000,95000,35000,275000
8,209744,Champlin-Morar,26739 Grant Lock,Lake Juliannton,pennsylvania,64415,70000,95000,35000,200000
9,212303,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,idaho,46308,70000,120000,35000,225000
10,214098,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,tenessee,47743,45000,120000,55000,220000
11,231907,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,northdakota,31415,150000,10000,162000,322000
12,242368,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,iowa,72686,162000,120000,35000,317000
13,268755,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,rhodeisland,31919,55000,120000,35000,210000
14,273274,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,delaware,27933,150000,120000,70000,340000

In [ ]:

# The dataset has details of 15 customers with following 9 features.

# Feature	Description
# account	account Id
# name	name of the person
# street	Name of the street
# city	Name of the city
# state	Name of the state
# postal-code	numerical value
# Jan	Amount in doller
# Feb	Amount in doller
# Mar	Amount in doller